<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/style.css">
  <script type="text/javascript" src="src/script.js"></script>
</head>
<body>
    <div id="header">
        <img src="src/data/header_background.jpg" alt="Header Logo" id="header_img">
    </div>

    <br>

    <div id="body">

        <div id="header_text">글로 드리는 기도</div>

        <hr class="divider">

        <div id="contents">
            <table id = "content_table">
                <th class="content_table_title">이름</th>
                <th class="content_table_title">링크</th>

                <tr class="content_table_line">
                    <td class="content_table_name">송대선</td>
                    <td class="content_table_link">
                        <a class = "link" href="http://www.google.com"> www.google.com </a>
                    </td>
                </tr>

                <tr class="content_table_line">
                    <td class="content_table_name">권하정</td>
                    <td class="content_table_link">
                        <a class = "link" href="http://www.naver.com"> www.naver.com </a>
                    </td>
                </tr>

                <tr class="content_table_line">
                    <td class="content_table_name">이규현</td>
                    <td class="content_table_link">
                        <a class = "link" href="http://www.daum.net"> www.daum.net </a>
                    </td>
                </tr>

            </table>
        </div>

    </div>
</body>
</html>